.gallery {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.photo-item {
    width: 25%;
    margin: 5px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.photo-item img {
    box-sizing: border-box;
    max-width: 100%;
    opacity: 0.7;
}

.photo-item img:hover {
    opacity: 1;
}

.slider-toggle {
    background-color: rgba(133, 142, 146, .8);
    height: 100vh;
    width: 100vw;
    position: absolute;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-item {
    width: 70%;
    margin: 0 20px;
}

#slider i {
    font-size: 60px;
}

#slider i.close {
    position: absolute;
    top: 40px;
    right: 50px;
    background: none;
    border: none;
    display: none;
}

.right-slide,
.left-slide {
    display: none;
}

#slider i:hover {
    color: rgb(97, 97, 97);
}

#slider i:active {
    color: rgb(202, 196, 196);
}

.slider-item img {
    display: none;
    width: 100%;
    border: 2px solid #fff;
    -webkit-box-shadow: 12px 13px 17px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 12px 13px 17px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 12px 13px 17px 3px rgba(34, 60, 80, 0.2);
}