* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Raleway', sans-serif;
}


/* main {
    height: 100%;
} */

.wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}